@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 40% 98%;
    --foreground: 31 29% 30%;
    --card: 0 0% 100%;
    --card-foreground: 31 29% 30%;
    --popover: 0 0% 100%;
    --popover-foreground: 31 29% 30%;
    --primary: 40 50% 56%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 44% 96%;
    --secondary-foreground: 31 29% 30%;
    --muted: 31 10% 95%;
    --muted-foreground: 31 15% 45%;
    --accent: 0 44% 62%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 31 10% 90%;
    --input: 31 10% 90%;
    --ring: 40 50% 56%;
    --radius: 0.75rem;
    --chart-1: 40 50% 56%;
    --chart-2: 0 44% 62%;
    --chart-3: 31 29% 30%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
  .dark {
    --background: 31 29% 10%;
    --foreground: 30 40% 98%;
    --card: 31 29% 10%;
    --card-foreground: 30 40% 98%;
    --popover: 31 29% 10%;
    --popover-foreground: 30 40% 98%;
    --primary: 40 50% 56%;
    --primary-foreground: 0 0% 100%;
    --secondary: 31 20% 15%;
    --secondary-foreground: 30 40% 98%;
    --muted: 31 20% 15%;
    --muted-foreground: 31 10% 65%;
    --accent: 0 44% 62%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 31 20% 20%;
    --input: 31 20% 20%;
    --ring: 40 50% 56%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}